:root {
  --white-title-color: #ffffff;
  --team__bg-color: #f5f5f5;
  --buttons-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --color-dark-blue: #188ce8;
  --secondary-text-color: #757575;
  --secondary-bg-color: #2f303a;
  --primary-text-color: #212121;
  --black-color: #000000;
  --border-color: #ececec;
  --border-color-2: #eeeeee;
  --border-color-grey: #afb1b8;
  --primary-bg-color: #ffffff;
  --color-black-transparent: rgba(255, 255, 255, 0.1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --main-font: ;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: 1px;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

.section {
  padding: 94px 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__dark {
  color: var(--accent-color);
}
.logo--light {
  height: 31px;
  color: var(--white-title-color);
}
.logo__light {
  color: var(--accent-color);
}

.header {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color-2);
}
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.navigation__list--item {
  position: relative;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list--item.selected {
  color: var(--accent-color);
}
.navigation__list--item:hover {
  color: var(--accent-color);
}
.navigation__list--item.selected::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.header-contacts__item {
  display: flex;
  align-items: center;
  height: 16px;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__item:hover {
  color: var(--accent-color);
}
.header-contacts__mail--icon,
.header-contacts .header-contacts__icon--phone {
  fill: currentColor;
  margin-right: 10px;
  line-height: 14px;
}
.header-contacts__mail--icon:hover, .header-contacts__mail--icon:focus,
.header-contacts .header-contacts__icon--phone:hover,
.header-contacts .header-contacts__icon--phone:focus {
  color: var(--accent-color);
}

.main-page {
  flex-direction: column;
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/order-section-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-title-color);
}
.hero__button {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-title-color);
  background: var(--accent-color);
  cursor: pointer;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: var(--color-dark-blue);
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: ease-in;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 581px;
  width: 528px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  transition: ease-in;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close--btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close--btn:hover, .modal__close--btn:focus {
  fill: var(--accent-color);
}
.modal__icon {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 11px;
  width: 11px;
}
.modal__title {
  margin-left: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modal__button {
  margin: 30px auto 0;
  padding: 10px 52px;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.modal__button:hover, .modal__button:focus {
  border: 1px solid var(--border-color-2);
  background-color: var(--color-dark-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.modal-form__input--icon {
  position: absolute;
  left: 0;
  margin: 11px 0 11px 12px;
}
.modal-form__label {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__label > input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label--title {
  display: flex;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__textarea {
  margin-bottom: 20px;
}
.modal-form__textarea > textarea {
  display: block;
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form__input--icon use {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label input:focus,
.modal-form__textarea > textarea:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-form__label input:focus + .modal-form__input--icon use {
  fill: var(--accent-color);
}

.modal-form__policy {
  display: flex;
  align-items: center;
}
.modal-form__policy--icon {
  height: 15px;
  width: 16px;
  margin-left: 12px;
}
.modal-form__policy--icon-check {
  opacity: 0;
  transition: opacity var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__policy--text {
  margin-left: 9px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.modal-form__policy--link {
  color: var(--accent-color);
}

.modal-form__policy--checkbox:checked + .modal-form__policy--icon .modal-form__policy--icon-check {
  opacity: 1;
}

.feature__list {
  display: flex;
  width: 100%;
  gap: 30px;
}

.feature__item {
  width: 270px;
}

.feature__svg--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--buttons-bg-color);
  border-radius: 4px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

.feature__text {
  line-height: 1.714;
  margin: 0;
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.about-us {
  display: block;
  padding-top: 0;
}
.about-us__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
.about-us__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.about-us__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.about-us__card {
  position: relative;
}
.about-us__card--title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  margin-bottom: 50px;
  color: var(--buttons-bg-color);
}

.team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
.team__section {
  background-color: var(--buttons-bg-color);
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__list--item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-title-color);
}
.team__element--text-container {
  padding: 30px 0;
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
}
.team__member--title {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--secondary-text-color);
}
.team__member--img {
  display: block;
}
.team__contact--list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}
.team__contact--item {
  width: 44px;
  height: 44px;
}
.team__contact--image {
  fill: currentColor;
}
.team__contact--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--border-color-grey);
  border-radius: 50%;
  transition: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__contact--link:hover, .team__contact--link:focus {
  color: var(--white-title-color);
  background-color: var(--accent-color);
}

.clients__sign {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__element {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color-grey);
  border: 1px solid var(--border-color-grey);
  border-radius: 4px;
  transition: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__image {
  fill: currentColor;
}

.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button-selected {
  padding: 6px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  color: var(--white-title-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  padding: 6px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--buttons-bg-color);
  border: none;
  cursor: pointer;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button-selected:hover .filter-button-selected:focus {
  color: var(--white-title-color);
  background-color: var(--color-dark-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__section {
  margin: auto;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__list--title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__list--item {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio__element {
  width: 370px;
  box-sizing: border-box;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__element-image {
  display: block;
  max-height: 100%;
  text-decoration: none;
}

.portfolio__link {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__desc {
  position: absolute;
  height: 168px;
  width: 322px;
  margin: 63px 24px;
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.portfolio__text--container {
  padding: 20px 24px;
  border: 1px solid var(--border-color-2);
  border-top: none;
}

.footer-page {
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
}
.footer-page__contacts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-page__contacts--list {
  display: block;
}
.footer-page__contacts--item {
  display: block;
  margin: 9px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-text-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-page__social {
  margin-left: 70px;
}
.footer-page__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 20px;
}
.footer-page__container {
  display: flex;
  align-items: baseline;
}
.footer-page__subscribe {
  margin-left: auto;
}

.footer-page__contacts--item:hover {
  color: var(--accent-color);
}

.logo--light {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white-title-color);
}

.logo__light {
  color: var(--accent-color);
}

.contacts-address {
  width: 231px;
  height: 21px;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  color: var(--white-title-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
  text-decoration: none;
  color: var(--accent-color);
}

.team__contact--list-footer {
  padding: 0;
}

.team__contact--list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.team__contact--link-footer {
  color: var(--white-title-color);
  background-color: var(--color-black-transparent);
  transition: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__contact--image:hover .team__contact--image:focus {
  fill: var(--accent-color);
}

.footer-page-subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-page-subscribe__form--label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-page-subscribe__form--label > input {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-subscribe__form--button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  padding: 10px 28px;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-title-color);
  background: var(--accent-color);
  cursor: pointer;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-subscribe__form--label input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.footer-page-subscribe__form--button:hover,
.footer-page-subscribe__form--button:focus {
  background-color: var(--color-dark-blue);
  border: 1px solid var(--border-color);
}/*# sourceMappingURL=main.css.map */