.header {
    justify-content: center;
    align-items: center;

    

    border-bottom: 1px solid var(--border-color-2);

    &__container {
            display: flex;
            align-items: center;
        }
}


.navigation {
    display: flex;
    align-items: center;
    
    &__list {
            display: flex;
            margin-left: 93px;
            gap: 50px;
        }

    &__list--item {
        position: relative;
        display: flex;
        padding: 32px 0;
        font-weight: 500;
        line-height: 1.143;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: var(--primary-text-color);
    
        transition: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &.selected {
                color: var(--accent-color);
            }
        &:hover {
            color: var(--accent-color);
        }
        &.selected::after {
            content: '';
        
            position: absolute;
            display: block;
            bottom: 0;
        
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
        }
    }


}

.header-contacts {
    
    display: flex;
    margin-left: auto;
    gap: 50px;

    @media screen and (max-width: 767px) {
        display: none;
        
    }

    &__item {
            display: flex;
            align-items: center;
    
            height: 16px;
            padding: 32px 0;
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.02em;
            text-decoration: none;
    
            color: var(--secondary-text-color);
            transition: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
         &:hover {
                    color: var(--accent-color);
                }
        }

    &__mail--icon,
    .header-contacts__icon--phone {
        fill: currentColor;
        margin-right: 10px;
        line-height: 14px;

        &:hover, &:focus {
                color: var(--accent-color);
            }
    }

}
