.feature__list {
    display: flex;
    width: 100%;
    gap: 30px;
}

.feature__item {
    width: 270px;
}

.feature__svg--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--buttons-bg-color);
    border-radius: 4px;
}

.feature__title {
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
}

.feature__text {
    line-height: 1.714;
    margin: 0;
    margin-top: 10px;
    color: var(--secondary-text-color);
}