.header {
    // display: flex;
    // // justify-content: center;
    // align-items: center;

    position: relative;
    max-width: 100vw;
    overflow: hidden;
    //     top: 0;
    //     right: 0;
    //     width: 100%;
    
    //     z-index: 99;
    
    //     // padding-inline: 15px;
    //     overflow-x: clip;
    
    //     @media screen and (min-width: 1200px) {
    //         width: 100%;
    //     } 

    border-bottom: 1px solid var(--border-color-2);

    &__container {
            display: flex;

            @media screen and (min-width: 1200px) {
                    align-items: center;
                    width: 1200px;
                    margin: 0 auto;
                }
        }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    &__list {
            display: flex;
            margin-left: 93px;
            gap: 50px;
        }

    &__list--item {
        position: relative;
        display: flex;
        padding: 32px 0;
        font-weight: 500;
        line-height: 1.143;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: var(--primary-text-color);
    
        transition: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &.selected {
                color: var(--accent-color);
            }
        &:hover {
            color: var(--accent-color);
        }
        &.selected::after {
            content: '';
        
            position: absolute;
            display: block;
            bottom: 0;
        
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
        }
    }


}

.header-contacts {


    // ================ADDED================

    display: none;

    @media screen and (min-width: 768px) {
            display: flex;
            gap: 10px;
            flex-direction: column;
    
            margin-left: auto;
    
            &__item {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;
                line-height: calc(14 / 12);
                letter-spacing: 0.02em;
                text-decoration: none;
    
                color: var(--color-grey);
    
                transition: color;
                transition-duration: var(--default-animation-duration);
                transition-timing-function: var(--default-animation);

                &:hover {
                        color: var(--accent-color);
                    }
    
                // &.email .header-contacts__icon {
                //     height: 10px;
                //     width: 14px;
                // }
    
                // &.phone .header-contacts__icon {
                //     height: 14px;
                //     width: 10px;
                // }
            }

            &__mail--icon,
            .header-contacts__icon--phone {
                            fill: currentColor;
                            margin-right: 10px;
                            line-height: 14px;
            
                            &:hover,
                            &:focus {
                                color: var(--accent-color);
                            }
                        }
//  =================ADDED====================

//     display: flex;
//     margin-left: auto;
//     gap: 50px;

//     &__item {
//             display: flex;
//             align-items: center;
    
//             height: 16px;
//             padding: 32px 0;
    
//             font-weight: 500;
//             line-height: 1.143;
//             letter-spacing: 0.02em;
//             text-decoration: none;
    
//             color: var(--secondary-text-color);
//             transition: color;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
//          &:hover {
//                     color: var(--accent-color);
//                 }
//         }

//     &__mail--icon,
//     .header-contacts__icon--phone {
//         fill: currentColor;
//         margin-right: 10px;
//         line-height: 14px;

//         &:hover, &:focus {
//                 color: var(--accent-color);
//             }
//     }


