.menu-toggle {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
    border: none;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
    &.js-close-menu {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 48px 40px;

    background-color: var(--primary-bg-color);

    transform: translateX(100%);

    transition: ease;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        transform: translateX(0);
    }
        
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-link{
    display: block;
    margin-top: 32px;
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: .02em;
        
}


.mobile-menu-nav-link--selected {

    display: block;
    
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: .02em;
    color: var(--accent-color);
}

.mobile-menu-contacts {

}

.mobile-menu-contacts-link {

    display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: .02em;
    color: var(--secondary-text-color);

}

.mobile-menu-contacts-link--selected {

    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.06;
    letter-spacing: .02em;
    color: var(--accent-color);
}

.mobile-menu-socials {
    margin-top: 64px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
}


.mobile-menu-socials-link {
        
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: .02em;
            color: var(--accent-color);
            
            transition: color;
            
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:nth-child(n + 2) {
                    padding-left: 10px;
                    border-left: 1px solid rgba(33, 33, 33, 0.2);
                }
}

