
.team {
    margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }

    &__section {
            background-color: var(--buttons-bg-color);
        }

    &__list {
            display: block;
        
            text-align: center;


           @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;}

            &--item {
                    display: block;
                    margin-bottom: 30px;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                            0px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 0px 0px 4px 4px;
                    
                    background-color: var(--white-title-color);
                    
                        
                    
                    @media screen and (max-width: 767px) {
                            margin-inline: auto;
                        }
                    @media screen and (min-width: 480px) {
                            width: 450px;
                            height: 622px;
                                        }
                    
                    @media screen and (min-width: 768px) {
                            width: 354px;
                            height: 536px;
                            margin-bottom: 0;
                        }
                    
                    @media screen and (min-width: 1200px) {
                            width: 270px;
                            height: 428px;
                        }
                }
        }
    &__element--text-container {
        padding: 30px 0 24px;

        @media screen and (min-width: 1200px) {
        padding: 30px 0;}
        
    }

    &__member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;
        text-align: center;
        color: var(--primary-text-color);

        &--title {
                font-size: 16px;
                line-height: 1.188;
                text-align: center;
                color: var(--secondary-text-color);
            }
        &--img {
                    display: block;
                }         
    }
    &__contact--list {
        display: flex;
        gap: 10px;
        margin-top: 16px;
        justify-content: center;
    }
    &__contact--item {
        width: 44px;
        height: 44px;
    }
    &__contact--image {
        fill: currentColor;
    }
    &__contact--link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: var(--border-color-grey);
            border-radius: 50%;
    
            transition: color, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover, &:focus {
                    color: var(--white-title-color);
                    background-color: var(--accent-color);
            
                }
    
        }

}
