body {

    min-width: 320px;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
}
