.section {
    // Mobile screen + Tablet
    padding-top: 60px;
    padding-bottom: 60px;

    // Desktop screen
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}