:root {
    --white-title-color: #ffffff;
    --team__bg-color: #f5f5f5;
    --buttons-bg-color: #f5f4fa;
    --accent-color: #2196f3;
    --color-dark-blue: #188ce8;
    --secondary-text-color: #757575;
    --secondary-bg-color: #2f303a;
    --primary-text-color: #212121;
    --black-color: #000000;
    --border-color: #ececec;
    --border-color-2: #eeeeee;
    --border-color-grey: #afb1b8;
    --primary-bg-color: #ffffff;
    --color-black-transparent: rgba(255, 255, 255, 0.1);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --modal-placeholder-color: rgba(117, 117, 117, 0.5);
    --main-font: 
}